* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
	background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
	
    background-color:#32383d;
    font-family: 'RobotoRegular', 'Droid Sans', 'Segoe UI', Segoe, 'San Francisco', 'Helvetica Neue', Helvetica, Arial, Geneva, sans-serif;
    font-size:12px;
}

.app {
    background: url(../images/cordova.png) no-repeat center top; 
    position: absolute;             
    left: 50%;
    top: 50%;
    height: 50px;                  
    width: 225px;                   
    text-align: center;
    padding: 180px 0px 0px 0px;     
    margin: -115px 0px 0px -112px;
}

@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;
        margin:-90px 0px 0px -198px;
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.pull-right {
	float:right;
}

.pull-left {
	float:left;
}

.ui-btn-active {
	background: none !important;
	background-color: #32383d !important;
}

.push-down {
	padding-bottom:50px
}

.above-full-width { 
	position:absolute;
	bottom: 0;
	padding-left:0;
	padding-right:0;
	left:0;
	width:100%;
	margin-left:5%;
}
.wrapper {
	position:relative;
	width:100%;
	height:1px;
}

@media (max-width: 560px){
	#system-big {
		display:none;
	}
}

@media (min-width: 561px){
	#system-small {
		display:none;
	}
}

h1 {
	font-weight:bold;
}

th {
    border-bottom: 1px solid #d6d6d6;
}

tr:nth-child(even) {
    background: #e9e9e9;
}

.two-side-table tr {
	display:table;
	width:100%;
}

.two-side-table td{
	clear:none;
	display: table-cell;
    height: auto;
	padding-right:0;
	padding-left:0;
	vertical-align: middle;
}

.two-side-table .td-first{
	width:70%;
	overflow: hidden;
    text-overflow: ellipsis;
}

.two-side-table .td-second{
	width:30%;
	white-space: nowrap;
	overflow: hidden;
}

.two-side-table .td-second.special{
	width:20%;
}

.two-side-table .td-third{
    width:20%;
}

#kentico_logo {
  display: block;
  margin: 0 auto;
}

.my-custom-popup{
    background-color: #f6f6f6;
    color:#333;
    margin-left:auto;
    font-size: 14px;
    text-shadow:none;
}
.my-custom-popup a{
    color:#333;
}
.my-custom-popup .ui-btn{
    border-radius:5px;
}

.scrollable-popup {
    overflow-y: scroll; 
    max-width: 300px; 
    max-height: 400px;   
}

#allRolesCheckbox-popup{
    align-self: center;
}

.full-width{
    width:100%;
}

.no-side-padding{
    padding-left: 0;
    padding-right: 0;
}

.generalInformation-table tr:nth-child(even) {
    background: #ffffff;
}

